html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:15px;
}

.root {
    height:100%;
    background-color:#f1f3f5;
}

a {
    text-decoration: none;
}

h3 {
    font-size:25px;
    font-family: 'Open sans', sans-serif;
}
/*  T O P  */ 

.logheader {
    width:100%;
    padding:1.25rem 0;
    background-color:#313131;
    text-align:center;
    font-size:1rem;
}

.loglogo img {
    margin:1.3rem auto;
    max-width:90px;
}

.xdesc {
    width:60%;
    margin:0 auto;
    color:#fff;
    margin-top:1.25rem;
    margin-bottom:1.25rem;
    font-size:1.3rem;
}

/*  M A I N  */

.login {
    background-color:#f1f3f5;
    display:flex;
    flex-flow:column;
    padding:1.2rem;
    height:100%;
}

#letsstart {
    font-weight:400;
    font-size:15px;
    margin:0.6rem 0;
}

.logincontainer {
    background-color:#fff;
    border:1px solid #dbdbdb;
    padding:1.0rem;
}

hr {
    width:70%;
    margin-bottom:1.0rem;
    margin-top:1.4rem;
    border:none;
    border-top:1px solid #ced4da;
}

.separator {
    height: 1px;
    width: 100%;
    background: #ced4da;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
.or {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .85em;
    font-weight: 600;
    color: #212529;
    font-weight:300;
}

.email {
    display:flex;
    flex-direction: row;
}


/* L O G I N    O P T I O N S */

.loginoptions img {
    width:20px;
    display:inline-block;
    margin-right:10px;
}


.flogin {
    background-color:#2073bf;
    padding:1.0rem;
    width:90%;
    display:flex;
    flex-direction:row;
    align-content:center;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    font-weight:400;
    margin-bottom:1.2rem;
}


.glogin {
    background-color:#c72c30;
    padding:1.0rem;
    width:90%;
    display:flex;
    flex-direction:row;
    align-content:center;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    font-weight:400;
    margin-bottom:1.2rem;
}


#guestproceed {
    text-align:right;
}
#guestproceed a {
    color:#967fe9;
    font-weight:500;
    font-size:13px;
    letter-spacing:1px;
    transition:0.3s;
}
#guestprocess a:hover {
    color:#b4a5e9;
}

/* F O O T E R */

.footer {
    background-color:#f1f3f5;
    text-align:center;
    font-size:10px;
    letter-spacing:2px;
    padding:1rem 0;
}
.copyright {
    background-color:#f1f3f5;
    padding:1.2rem;
}



/*    F U L L   S I G N U P   F O R M    */


.signupinput {
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    word-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    right:0;
    padding-top: 1px;
    margin-bottom:5px;
    width: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgb(207, 207, 211);
    border-radius:7px;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .signupbtn {
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 1px;
    padding:15px 5px;
    right:0;
    width: 100%;
    outline: none;
    background-color: #967fe9;
    border: none;
    border-radius:7px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .register select {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgb(207, 207, 211);
    padding:15px 5px;
    margin-bottom:5px;
    height:40px;
    width:100%;
    box-sizing:border-box;
  }