
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    background-color:#f1f3f5;
    font-size:15px;
}

.root {
    height:100%;
    background-color:#f1f3f5;
}

a {
    text-decoration: none;
}

h3 {
    font-size:25px;
    font-family: 'Open sans', sans-serif;
}


/*  T O P  */ 
@media screen and (max-width:799px) {
  .header {
    width:100%;
    height:14vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo user" "navbar1 navbar2";
    padding:1.25rem 0rem 0 0rem;
    background-color:#fff;
    font-size:1rem;
  } 
}



.user { 
    grid-area: user; 
    top:0;
    justify-content:end;
}

.usericon {
 
  cursor:pointer;
}


.user img {
    width: 42px;
    top:0;
    margin:0;
    justify-self:center;
}

.logo {
    grid-area: logo;
    justify-self:start;
    margin-left:2rem;
    padding-top:10px;

}
.logo img {
    top:0;
    left:0;
    max-width:90px;
}


/* S E A R C H  B A R */

.search-box {
    position: relative;
    grid-area: user;
    justify-self:center;
}
  
  .input {
    position: absolute;
    right: 11px;
    top:1px;
    box-sizing: border-box;
    width: 0px;
    height: 40px;
    padding: 0 16px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #434245;
    border: 1px solid #434245;
    transition: all 0.8s ease;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #434245;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #434245;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #434245;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #434245;
  }
  
  .btn {
    position: absolute;
    width: 42px;
    height: 42px;
    background: #434245;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
  }
  
  .input.active {
    width: 150px;
    right: 10px;
  }

  @media screen and (min-width:700px) {
    .input.active {
      width:200px;
    }
  }
  
  .btn.animate {
    transform: rotate(-360deg);
    right: 10px;
  }


  /* NAVIGATION */

@media screen and (max-width:799px) {
    .navbar1 { 
        grid-area: navbar1; 
        border-bottom:3px solid #896dea;
        bottom:0;
        display:flex;
        justify-content:center;
        align-items:flex-end;
        font-family:'Open sans', sans-serif;
        font-weight:400;
        font-size:17px;
    }
    .navbar1 a {
        line-height:32px;
        color:#896dea;
    }

    .navbar2 { 
        grid-area: navbar2; 
        border-bottom:3px solid #fff;
        bottom:0;
        display:flex;
        justify-content:center;
        align-items:flex-end;
        font-family:'Open sans', sans-serif;
        font-weight:400;
        font-size:17px;
    }
    .navbar2 a {
        line-height:32px;
        color:#666;
    }
    .navbar2:hover {
        border-bottom:3px solid #896dea;
        color:#896dea;
    }

    /* RECENT */

    .navbar3 { 
      grid-area: navbar1; 
      border-bottom:3px solid #fff;
      bottom:0;
      display:flex;
      justify-content:center;
      align-items:flex-end;
      font-family:'Open sans', sans-serif;
      font-weight:400;
      font-size:17px;
  }
  .navbar3 a {
      line-height:32px;
      color:#666;
  }

  .navbar4 { 
      grid-area: navbar2; 
      border-bottom:3px solid #896dea;
      bottom:0;
      display:flex;
      justify-content:center;
      align-items:flex-end;
      font-family:'Open sans', sans-serif;
      font-weight:400;
      font-size:17px;
  }
  .navbar4 a {
      line-height:32px;
      color:#896dea;
  }
  .navbar:hover {
      border-bottom:3px solid #896dea;
      color:#896dea;
  }
}


/*    M A I N    A R E A   */

@media screen and (max-width:799px) {
  .mainarea {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    padding:20px 0;
    width:100%;
  }
}

@media screen and (max-width:430px) {
  .mainarea {
    display:flex;
    flex-direction:column;
  }
}
